.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}


.form-control {
  margin: 5px;
  width: 25%;
}

.btn {
  margin: 5px;
}
